# .env file for Vultr Server Configuration
# This is a template for the .server.env file.

# --- Server Connection ---
HOST="%IP%"
USERNAME="root"
PASSWORD="%ROOT_PASSWORD%"

# --- Securing Script Parameters ---
NEW_USER_SSH_PORT=2222
NEW_USER_NAME="boomerang"
NEW_USER_PASSWORD="%NEW_USER_PASSWORD%"
ALERT_EMAIL="alerts@boomerangvpn.com"
SERVER_NAME="boomerang-vpn"
